@import "./src/assets/variables"

.profissionais_container
  display: flex
  width: 90%
  justify-content: center
  margin: 2%
  margin-left: 5%
  flex-wrap: wrap


//para celular
@media (max-width: 655px)
  .topbar_container
    margin-bottom: 20px
    .img_container
      margin-right: 100px
      width: 90px
      img
        margin: auto
        width: 150px
        margin-left: 10px
    .tabs
      visibility: hidden
    .user_data
      margin-left: -400%;
      font-size: 7.8pt
      profile_pic
        visibility: hidden
  .profissionais_container
    width: 400%
    display: block
    margin-left: 10%
  
  .topbar_container .tabs:hover
    visibility: visible