@import '../../variables'

.reservas_page_container
  .flex
    margin-bottom: 12px
    .cancel_checkbox_container
      margin: auto
      cursor: pointer
      width: 50px
      .cancel_checkbox
        width: 35px
        border-radius: 500px
        border: 1px solid $primaryBlue
        height: 35px