@import "../../../assets/variables"

.container_adms
  display: flex
  margin-top: 2%
  margin-left: 2%
  width: 92%
  
  
@media (max-width: 655px)
  .container_adms
    display: inline-block
    width: 80%
    padding: 20px
    .card_adminstrativo
      width: 90%
      padding: 5%