@import "./src/assets/variables"

.container_reservas
  margin-left: 2.5%
  width: 90%
  padding: 1% 2%
  background-color: #FFFFFF
  padding-bottom: 2%
  border-radius: 10px
  box-shadow: 0px 5px 9px rgba(0,0,0,0.3)
  .title
    color: $darkGrey
    font-weight: 500