@import "../../variables"

.topbar_container
  img
    object-fit: cover
  .tabs
    flex-grow: 1
    display: flex
    justify-content: center
    .tab
      display: flex
      padding: 0 3%
      color: $grey
      cursor: pointer
      @include putTransition()
      border-bottom: 2px solid transparent
      p
        margin: auto 0
      &.selected
        color: $primaryBlue
        border-bottom: 2px solid $primaryBlue
      &:hover:not(.selected)
        border-bottom: 2px solid $grey

@media (max-width: 655px)
  .topbar_container_adm
    margin-bottom: 20px
    .img_container
      width: 90px
      img
        margin: auto
        width: 150px
        margin-left: 10px
    .tabs
      display: inline-block
      visibility: hidden
      position: absolute
      margin-top: 100px
      left: 230px
    .user_data
      font-size: 7.5pt

  .profissionais_container
    display: inline-block
    margin-left: 10%
