@import "src/assets/variables"

.calendar_agendamentos_container
  h1
    text-align: center
    margin: auto
    padding: 2% 3%
  .calendar_table
    width: 95%
    margin-left: 2.5%
    text-align: center
    padding-bottom: 5%