.configuracoes_container
  a
    text-decoration: none
    margin: 50px
    margin-top: 20px
  .configuracoes_body
    margin: 35px 50px
    box-shadow: 0 5px 10px rgba(0,0,0,0.2)
    padding: 45px
    padding-top: 5px
